[Desktop Entry]
Type=Application
Exec=wmweather+
Name=wmweather+
Comment=Applet that displays the weather
Comment[pl]=Aplet wyświetlający informacje o pogodzie
Categories=Applet;
# vi: encoding=utf-8
