[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=wmweather+
Name=wmweather+
Comment=Applet that displays the weather
Comment[pl]=Aplet wyświetlający informacje o pogodzie
Categories=X-Docklet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
